{% extends "base.html.twig" %}


{% block body %}
<p>{{article.id}}</p>
{% if article is not null %}
<div class="d-flex justify-content-center">
    <div class="p-xl-5 d-inline-block m-5 card text-white bg-success mb-3 col-md-8">
        <div class="card-header">Header</div>
        <div class="card-body ">
            {{form_start(form)}}
            {{form_widget(form)}}
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary p-3">submit</button>
            <a class=" btn btn-danger p-3" href="{{ path('blog') }}">Back</a>
            {{form_end(form)}}
        </div>
    </div>
</div>

{% else %}
<p>There's no article with this ID...</p>
<a class="btn btn-secondary" href="{{ path('blog') }}">Back</a>
{% endif %}
{% endblock body %}