<!DOCTYPE html>
<html lang="en">



<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
</head>

<style>
    body {
        background-color: aquamarine;
    }
    #nav-fix {
        margin-left:90%;
        margin-top:8%;

    }
</style>

<body>
    {% include "nav.html.twig" %}
    <div class="btn-group-vertical fixed-top col-md-1" id="nav-fix" data-toggle="buttons">
        <button type="button" class="btn btn-primary p-4">Button</button>
        <button type="button" class="btn btn-secondary p-4">Button</button>
        <button type="button" class="btn btn-success p-4">Button</button>
        <button type="button" class="btn btn-info p-4">Button</button>
        <button type="button" class="btn btn-warning p-4">Button</button>
        <button type="button" class="btn btn-danger p-4">Button</button>
    </div>
    {% block body %}
    {% endblock body %}

</body>

</html>