{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="btn-group-vertical fixed-top col-md-1" id="nav-fix" data-toggle="buttons">
            <button type="button" class="btn btn-primary p-4">Button</button>
            <button type="button" class="btn btn-secondary p-4">Button</button>
            <button type="button" class="btn btn-success p-4">Button</button>
            <button type="button" class="btn btn-info p-4">Button</button>
            <button type="button" class="btn btn-warning p-4">Button</button>
            <button type="button" class="btn btn-danger p-4">Button</button>
        </div>
        {% set index = 1 %}


        {% for row in articles %}
        {% if index == 1 %}
        {% set random = 'secondary' %}
        {% elseif index == 2 %}
        {% set random = 'success' %}
        {% elseif index == 3 %}
        {% set random = 'info'%}
        {% elseif index == 4 %}
        {% set random = 'warning' %}
        {% elseif index == 5 %}
        {% set random = 'danger' %}
        {% else %}
        {% set random = 'primary' %}
        {% endif %}

        {% if index < 6 %} {% set index=index + 1 %} {% else %} {% set index=1 %} {% endif %} <div class="m-4 card text-white bg-{{random}} mb-3 col-md-5">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">{{row.titre}}</h4>
                <p class="card-text">{{row.descript}}</p>
                <p>{{index|raw}}</p>
                <a class="btn btn-info" href="{{ path('show_article', {id: row.id}) }}">Show</a>
                <a class="btn btn-warning" href="{{ path('modify', {id: row.id}) }}">Modify</a>
            </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock body %}