{% extends "base.html.twig" %}


{% block body %}
<p>{{article.id}}</p>
{% if article is not null %}
<div class="d-flex justify-content-center">
    <div class="p-xl-5 d-inline-block m-5 card text-white bg-info mb-3 col-md-8">
        <div class="card-header">Header</div>
        <div class="card-body ">
            <h4 class="card-title">{{article.titre}}</h4>
            <p class="card-text">{{article.descript}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <a class=" btn btn-danger p-3" href="{{ path('blog') }}">Back</a>
            <a class=" btn btn-warning p-3 justify-content-end" href="{{ path('remove', {id: article.id}) }}">Delete</a>
        </div>
    </div>
</div>

{% else %}
<p>There's no article with this ID...</p>
<a class="btn btn-secondary" href="{{ path('blog') }}">Back</a>
{% endif %}
{% endblock body %}